/* Nunito */

/* Latin */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/nunito-light.woff2') format('woff2'),
       url('assets/fonts/nunito-light.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/nunito-regular.woff2') format('woff2'),
       url('assets/fonts/nunito-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/nunito-semibold.woff2') format('woff2'),
       url('assets/fonts/nunito-semibold.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/nunito-extrabold.woff2') format('woff2'),
       url('assets/fonts/nunito-extrabold.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}